.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  margin: 50px auto;
}

.wheel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  cursor: pointer;
}

.wheel-pointer {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid rgb(87, 84, 84);
  transform: translateX(-50%) rotate(180deg);
  z-index: 10;
}
